html,
body {
  margin: 0;
  padding: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}
#nav {
  background-color: #595959;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
}

#nav > a {
  text-decoration: none;
  padding: 0 20px;
  color: #eee;
  transition: transform 0.5s ease-in;
}

#nav > a:hover {
  transform: scale(1.2);
}

#container {
  padding: 20px;
}

#intro {
  padding: 40px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#info {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

#infoPara {
  padding: 120px 0;
}

#button {
  border: none;
  padding: 8px 14px;
  font-weight: bold;
  border-radius: 25px 25px 25px 25px;
}

h2 {
  font-size: 35px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  padding-top: 15px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-info {
  padding: 2px 16px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}
.user-inquiry {
            color: white;
            width: 70%;
            margin: auto;
            margin-top: 5%;
            font-size: 17px;
            background-color: #0c82fb;
            padding-top: 3%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
        }

        .input {
            border: 2px solid#0c82fb;
            border-radius: 10px;
            background-color: white;
            padding: 10px;
        }

        .input:focus {
            color: #0c82fb;
        }

        #name {
            width: 30%;
        }

        #email {
            width: 50%;
        }

        #subject {
            width: 97%;
        }

        #message {
            width: 97%;
            height: 300px;
        }

        ::placeholder {
            color: #98ccfc;
            font-family: Calibri, "Trebuchet MS", sans-serif;
        }

        .product-button {
            text-align: center;
        }

        #product-button {
            border: none;
            padding: 8px 14px;
            font-weight: bold;
            border-radius: 25px 25px 25px 25px;
            background-color: white;
            color: #0c82fb;
        }
        #confirmed {
            color: white;
            text-align: center;
            margin-top: 10%;
        }

        .inquiry-confirmed-button {
            border: none;
            padding: 8px 14px;
            font-weight: bold;
            border-radius: 25px 25px 25px 25px;
            background-color: white;
            color: #0c82fb;
            margin-left: 30px;
            margin-right: 30px;

       
        }
        .rating
        {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;

        }
        .rating input
        {
          /*display: none;*/
        }
        .rating label
        {
          display: block;
          cursor: pointer;
          width: 50px;
          background: chocolate
        }